span[class~="deck"]{
    color: purple;
}

div[id]{
    background: grey;
}

a[href$="pdf"]{
    color: green;
}


a[href^="http"]{
    color: pink;
}

a[title]{
    color: red
}

a:hover {
    color: red;
}

#content-header:hover{
    background: red;
}